@charset "UTF-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #d96c61;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #d96c61;
    height: 100px;
    margin-top: 25px;
}


tr{
    text-align: center;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

p#about{
    color:#fffae2;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
}

.aboutBox{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

h2{
    font-family: 'Vidaloka', serif;
    font-size: 60px;
    color: #234780;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-family: 'Vidaloka', serif;
    font-size: 120px;
    color: #d96c61;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a.navwords{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #fff9e2;
    border-bottom: 5px solid;
    border-bottom-color: #d96c61;
    text-decoration: none; 
}



a.navwords:hover{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #fff9e2;
    border-bottom: 5px solid;
    border-bottom-color: #234780;
    text-decoration: none;
}

.effects1, .p2{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #fff9e2;
    
}

.effectsOne, .effectsTwo, .effectsThree, .effectsFour, .effectsFive{
    margin-top:20px;
    padding-top: 10px;
    padding-bottom:20px;
    border-bottom: 5px solid #f9a092;
}

p#about{
    font-size:22px;
}
p#about2{
    font-size:20px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #e5a092;
}

.effectsFive{
    height: 180px;
}

button.e1, button.e2, button.e4, button.e5{
    background-color: #234780;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #fff9e2;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.boxes{
    float: left;
    margin-right: 10px;
    text-align: center;
    color:#fff9e2;
}

.effectsFour{
    height: 180px;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #234780;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #fff9e2;
}

#panel {
    padding: 30px;
    background-color: #825b70;
    display: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #fff9e2;
}