@charset "UTF-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #34356f;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #34356f;
    height: 100px;
    margin-top: 25px;
}


tr{
    text-align: center;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

h1{
    font-family: 'Vidaloka', serif;
    font-size: 120px;
    color: #d96c61;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a.navwords{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #dedee7;
    border-bottom: 5px solid;
    border-bottom-color: #34356f;
    text-decoration: none; 
}



a.navwords:hover{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #dedee7;
    border-bottom: 5px solid;
    border-bottom-color: #d96c61;
    text-decoration: none;
}

.container{
    margin-top: 20px;
    /*background-color: red;*/
}

#slides {
    display: none;
    margin-top:10px;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
      margin-left: 10px; 
    }


    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(images/homepage/btns-next-prev1.png);
      background-repeat: no-repeat;
      display:block;
      width:11.9px;
      height:19px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-left:5px;
    }

    a.slidesjs-next {
      margin-right:12px;
      background-position: -12px 0;
    }

   

    a.slidesjs-previous {
      background-position: 0 0;
    }

  
    a.slidesjs-play {
      width:16px;
      background-position: -25px 0;
    }

   
    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

   

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/homepage/pagination1.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
  </style>
  <!-- End SlidesJS Optional-->

  <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
  <style>
    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1000px
      }
    }

