@charset "UTF-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #fff8dc;
        transition: background-color 1s linear; 
   -moz-transition: background-color 1s linear;  
   -webkit-transition: background-color 1s linear; 
   -ms-transition: background-color 1s linear; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table.gallerytable{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td.gallerytable{
    padding: 10px;
    text-align: center;
}

.nav table{
	border-collapse: collapse;
	border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff8dc;
    height: 100px;
    margin-top: 25px;
    
    transition: background-color 1s linear; 
   -moz-transition: background-color 1s linear;  
   -webkit-transition: background-color 1s linear; 
   -ms-transition: background-color 1s linear; 
}


tr{
    text-align: center;
}

h2{
    font-family: 'Vidaloka', serif;
    font-size: 60px;
    color: #d4584c;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a.navwords{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #234780;
    border-bottom: 5px solid;
    border-bottom-color: #fff8dc;
    text-decoration: none; 
}


.inactiveLink {
   pointer-events: none;
   cursor: default;
}

a.navwords:hover{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #234780;
    border-bottom: 5px solid;
    border-bottom-color: #d4584c;
    text-decoration: none;
}

.projectTitle{
    /*background-color: red;*/
    width: 594px;
    height:25px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #234780;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 35px;
}

.titleLeft{
    float:left;
}

.titleRight{
    float:right;
}

.pictureDiv1{
    width: 796px;
    height:520px;
    margin-top:-30px;
    margin-right: auto;
    margin-left:auto;
    background-image: url(images/gallery/gravityApp/beerMockUp1.jpg);
    background-size: 796px 520px;
    
    /*background-color: aqua;*/
}

.pictureDiv2{
    width: 796px;
    height:531px;
    margin-top:20px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left:auto;
    background-image: url(images/gallery/gravityApp/beerMockUp2.jpg);
    background-size: 796px 531px;
    
    /*background-color: aqua;*/
}

.paras{
    width: 796px;
    /*background-color: aqua;*/
    margin-top:50px;
    margin-right: auto;
    margin-left:auto;
    overflow: hidden;
    
}

.subParas{
    width: 796px;
    /*background-color: cyan;*/
    margin-top:10px;
    margin-right: auto;
    margin-left:auto;
    overflow: hidden;
    
}


.paraHeading{
    /*background-color: blue;*/
    width:190px;
    float:left;
    
}

.paraSubHeading{
    /*background-color: blue;*/
    width:190px;
    float:left;
    margin-left:101px;
    
}

.paraBody{
    /*background-color: orange;*/
    width:492px;
    float:right;
    
}

.paraPhotos{
    /*background-color: pink;*/
    width:492px;
    float:right;
    
}

h3{
    
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color:#d4584c;
    text-align: right;
    margin-bottom:1px;
}

h4{
    
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color:#d4584c;
    text-align: right;
    line-height: 15px;
    margin-top:1.5px;
}

p{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 450;
    color: #234780;
}

ul{
    margin-top:10px;
}

li{
    font-size: 10px;
    line-height: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: #234780;
    list-style: disc;
    margin-left: 20px;
    margin-top: 5px;
}
.subList{
    margin-left: 40px;
    list-style: circle;
}

.indentPara{
    margin-left: 20px;
    
    font-weight: 200;
    margin-bottom:10px;
}

.indentPara2{
    margin-left: 40px;
    font-weight: 200;
    margin-bottom:10px;
    font-size: 10px;
    margin-top:-10px;
}

img{
    margin-top:15px;
    margin-bottom:25px;
}
video{
    margin-top:15px;
}

.controls button:hover, .controls button:focus {
   opacity:1;
}

.sourcesItems{
    font-size:8px;
    line-height: 8px;
}

.sourceLinks{
    font-size:8px;
    line-height: 9px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: #234780;
}

.sourceList{
    width:600px;
    margin-left:-100px;
    margin-top:-1px;
    list-style: none;
}

.credits{
    font-size:10px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.paraBold{
    font-weight: 500;
}

.prototypeLink:link{
    font-weight:500;
    color:#d25950;
    font-size: 13px;
}

/* visited link */
.prototypeLink:visited {
    color: #dd8377;
}


.prototypeLink:hover {
    color: #e39789;
}

/* selected link */
.prototypeLink:active {
    color:#e39789;
}